@CHARSET "UTF-8";

@import "icons.css";

body * {
	padding: 1px;
}

body {
	background: #3E3E3E url('images/background.png') repeat-x;
/*	line-height: 2em;*/
	margin: 0px;
	font-family: tahoma, verdana, arial;
	font-size: 11px;
}

	body.sidebar-left #main {
		margin-left: -210px;
/*		width: 600px;*/
	}
	body.sidebar-right #main {
		margin-right: -210px;
/*		width: 600px;*/
	}
	body.both-sidebars #main {
		margin-left: -210px;
		margin-right: -210px;
/*		width: 400px;*/
	}

	body.sidebar-left #squeeze {
	  margin-left: 210px;
	}

	body.sidebar-right #squeeze {
	  margin-right: 210px;
	}

	body.both-sidebars #squeeze {
	  margin: 0 210px;
	}

#page {
	background: #73BE1E url('images/background-page.png') repeat-x;
	width: 800px;
	margin: 0px auto;
}

#squeeze {
	position: relative;
}

/* ......................... menus, primary & secondary ....................... */

#page #navigation {
	border: 0px dashed orange;
	clear: both;
}

	#page #navigation #primary ul li {
		font-size: 18px;
	}

	#page #navigation #secondary ul li {
		font-size: 14px;
	}

	#page #navigation #primary ul,
	#page #navigation #secondary ul {
		border: 0px dashed firebrick;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		list-style:none;
		margin: 0px;
		overflow: hidden;
		padding: 5px 0px;
	}

	#page #navigation #primary ul li,
	#page #navigation #secondary ul li {
		display:block;
		float:left;
	}

	#page #navigation #primary ul li a,
	#page #navigation #secondary ul li a {
		padding: 0 0 20px 0;
		/*font-family: tahoma, verdana, arial;*/
		/*font-variant: small-caps;*/
		text-transform: uppercase;
		color: #3E3E3E;
		text-decoration: none;
		background: transparent url('images/menu-separator.gif') no-repeat;
		padding: 0px 20px 0px 30px;
	}

	#page #navigation #primary ul li a:hover,
	#page #navigation #secondary ul li a:hover {
		text-decoration: underline;
	}

	#page #navigation #primary ul li a.active,
	#page #navigation #secondary ul li a.active, 
	#page #navigation #primary ul li a:active,
	#page #navigation #secondary ul li a:active {
		font-weight: bold;
	}

/* ......................... header ....................... */
#header {
	border: 0px solid orange;
	height: 100px;
	clear: both;
	margin: 0px auto;
	overflow: hidden;
	font-family: "Lucida Sands Unicode","Trebuchet MS","Helvetica","sans-serif";
}

#logo-search {
	border: 0px solid magenta;
}

#logo-title {
	border: 0px solid crimson;
}

	#logo {
		border: 0px solid red;
		float: left;
	}

	#site-name {
		border: 0px solid pink;
		float: left;
	}
/**/
	#site-name a {
		font-size: 90px;
		color: #588821;
		top: 100px;
		position: absolute;
		text-decoration: none;
	}
/**/
	#site-slogan {
		border: 0px solid deeppink;
		float: right;
	}
/**/
	#site-slogan {
		font-size: 25px;
		color: #588821;
		top: 162px;
		left: 50%;
/*		left: 60%;*/
		position: absolute;
		text-decoration: none;
	}
/**/

#blocks-search {
	float: right;
}

#header-region {
	border: 0px solid blue;
	clear: both;
	position: absolute;
	top: 187px;
	padding: 10px 0px;
}


/* ......................... container ....................... */

#container {
/*	margin: 145px auto 0px auto;*/
	border: 0px solid lightgray;
	max-width: 1270px;
	clear: both;
	line-height: 1.5em;
	padding: 20px;
}

	#container .sidebar {
		float: right;
		position: relative;
		width: 170px;
		z-index: 2;
		margin-left: 30px;
	}

	#container #sidebar-left {
		border: 0px dotted blue;
	}	

	#container #main {
		border: 0px dotted green;
		float: left;
		/*width: 55%;*/
		width: 100%;
	}

	#container #sidebar-right {
		border: 0px dotted cyan;
	}	

	#container .column {
		margin-top: 50px;
		margin-bottom: 30px;
	}

/* ......................... footer ....................... */
#footer-wrapper {
	border: 0px solid darkgray;
	clear: both;
}

#footer-wrapper,
#footer-wrapper a {
	color: #426718;
}

#footer-wrapper h1,
#footer-wrapper h2,
#footer-wrapper h3,
#footer-wrapper h4 {
	color: #3E3E3E;
}

#footer-wrapper #footer-blocks {
	overflow: hidden;
	margin-bottom: 30px;
}

#footer-wrapper #footer-blocks .block {
	border-left: #588821 1px dashed;
	display: block;
	float: left;
	max-width: 150px;
	margin: 0px 20px 0px 0px;
	padding: 0px 0px 0px 20px;
}

#footer-wrapper #footer-blocks .block ul li {
	list-style-image: none;
}

#footer-wrapper #footer {
	border: 0px dashed navy;
	text-align: center;
	font-size: 10px;
	color: #333333;
	clear: both;
}

/* ......................... main ....................... */
#mission {
	text-align: center;
	border: solid 1px #588821;
	margin: 40px 0px 5px 0px;
}

.breadcrumb a,
.breadcrumb {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

#main #squeeze .submitted, 
#main #squeeze .submitted a {
	color: #588821;
	font-size: 10px;
}

#main #squeeze,
#main h3, 
#main h3 a, 
#main h4,
#main h4 a {
	color: #333333;
}

#main #squeeze a,
#main .title,
#main .title a,
#main h1, 
#main h1 a, 
#main h2, 
#main h2 a {
	color: #ffffff;
}

#main a {
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

#main #squeeze .links,
#main #squeeze .links a {
	color: #426718;
}

#main .node,
#main #node-form {
	overflow: hidden;
}

.node .content ul.menu li.collapsed {
  list-style-image: url(../../misc/menu-collapsed.png);
}

.node .content ul.menu li.expanded {
  list-style-image: url(../../misc/menu-expanded.png);
}

.node .content ul.menu li.leaf {
  list-style-image: url(../../misc/menu-leaf.png);
}

.node {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: #ffffff 1px dashed;
}

/* ......................... sidebar ....................... */

.sidebar .content,
.sidebar .content a,
.sidebar h3, 
.sidebar h4 {
	color: #ffffff;
}

.sidebar .title,
.sidebar .title a,
.sidebar h1, 
.sidebar h2 {
	color: #333333;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

.sidebar .links,
.sidebar .links a {
	color: #333333;
}

.sidebar .block {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: #333333 1px dashed;
}

/* ......................... misc ....................... */

#user-login-form {
	text-align: left;
}

.pager, 
.pager a {
	color: #333333;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

h4 {
	font-size: 11px;
}

#main #squeeze .preview *,
#main #squeeze .tabs *,
.tabs * {
	color: #426718;
}

.admin-list,
.admin-list a,
.admin,
.admin a {
	color: #000000;
}

#comments  {
	margin-top: -30px;
}

.comment a {
	color: #ffffff;
}

#search .button, 
#search .form-submit, 
#user-login-form .button, 
#user-login-form .form-submit {
	background-color: #333333;
	border:1px solid #ffffff;
	color:#FFFFFF;
	font-size: 11px;
}

#search .form-text, 
#user-login-form .form-text {
	border:1px solid #333333;
	color:#333333;
	padding:2px;
	font-size: 11px;
}

td.active,
tr,
tr a {
	background-color: #73BE1E;
	border-bottom: 1px solid #CCCCCC;
	line-height: 2em;
}

tr.even, 
tr.even a {
	background-color: #73BE1E;
	color: #333333;
}

tr.odd, 
tr.odd a {
	background-color: #82D922;
	color: #333333;
}
